/*** 
=============================================
  Banner Style4 Css
=============================================
***/
.banner-style1 {
    position: relative;
    display: block;
    z-index: 11;
}

.banner-style1__shape-1 {
    position: absolute;
    top: 30px;
    right: 100px;
}

.banner-style1__shape-2 {
    position: absolute;
    right: -110px;
    bottom: -20px;
}

.banner-style1 .container {
    max-width: 1650px;
}

.banner-style1__content {
    position: relative;
    display: block;
    padding-top: 50px;
}

.banner-style1__content .sec-title {
    padding-bottom: 50px;
}

.banner-style1__content .sec-title .sub-title {
    padding-top: 0px;
}

.banner-style1__content .sec-title h2 {
    font-size: 70px;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: capitalize;
}

.banner-style1__content .sec-title p {
    font-size: 22px;
    line-height: 34px;
    margin: 26px 0 0;
}


.banner-style1__btns-box {
    position: relative;
    display: flex;
    align-items: center;
}

.banner-style1__btns-box .left-btn {
    position: relative;
    display: block;
    line-height: 0;
}

.banner-style1__btns-box .left-btn a:after {
    background-color: var(--thm-primary);
}




.video-gallery-style1 {
    position: relative;
    display: block;
    margin-left: 40px;
}

.video-gallery-style1 .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: var(--thm-base);
    border-radius: 50%;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: 2;
}

.video-gallery-style1 .icon .border-round {
    position: absolute;
    top: -10px;
    left: -10px;
    bottom: -10px;
    right: -10px;
    border: 10px solid rgba(var(--thm-base-rgb), .30);
    border-radius: 50%;
}

.video-gallery-style1 .icon:hover {
    background-color: var(--thm-primary);
}

.video-gallery-style1 .icon:after,
.video-gallery-style1 .icon:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: -1;
}

.video-gallery-style1 .icon:after {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.video-gallery-style1 .icon .video-popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.video-gallery-style1 .icon .video-popup span::before {
    position: relative;
    color: #ffffff;
    font-size: 30px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.video-gallery-style1 .icon:hover .video-popup span::before {
    color: #ffffff;
}


.donors-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 65px;
}

.donors-box .img-box {
    position: relative;
    display: block;
    width: 190px;
    height: 80px;
}

.donors-box .img-box ul {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.donors-box .img-box ul li {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    border: 4px solid var(--thm-base);
    border-radius: 50%;
}

.donors-box .img-box ul li:nth-child(2) {
    margin-left: -30px;
}

.donors-box .img-box ul li:nth-child(3) {
    margin-left: -30px;
}

.donors-box .img-box ul li img {
    width: 100%;
    border-radius: 50%;
}

.donors-box .text-box {
    position: relative;
    flex: 1;
    margin-left: 20px;
}



.banner-style1__img {
    position: relative;
    display: block;
    margin-left: -37.5px;
}

.banner-style1__img .row {
    --bs-gutter-x: 15px;
}

.banner-style1__img .single-box {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.banner-style1__img .single-box img {
    width: 100%;
    transition: background-color 0.5s ease;
    transition: all 0.5s ease;
}

.banner-style1__img .single-box:hover img {
    transform: scale(1.05);
}



/*--------------------------------------------------------------
# Main Slider
--------------------------------------------------------------*/
.main-slider {
    position: relative;
    display: block;
    z-index: 10;
}

.main-slider-style1 {
    background-color: #f7f1eb;
}

.main-slider-style1__shape1 {
    position: absolute;
    top: 100px;
    right: 70px;
    z-index: 1;
}

.main-slider-style1__shape2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.main-slider .swiper-slide {
    position: relative;
}

.main-slider .container {
    position: relative;
    padding-top: 154px;
    padding-bottom: 220px;
    z-index: 30;
}

.main-slider .image-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    transition: transform 7000ms ease, opacity 1500ms ease-in;
    transition: transform 7000ms ease, opacity 1500ms ease-in, -webkit-transform 7000ms ease;
    z-index: 1;
}

.main-slider .swiper-slide-active .image-layer {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

.main-slider .image-layer:before {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    content: "";
    background-color: #000000;
    opacity: 0.50;
    z-index: -1;
}

.main-slider .main-slider-content {
    position: relative;
    display: block;
    width: 100%;
}

.main-slider .main-slider-content__inner {
    position: relative;
    display: block;
    overflow: hidden;
}




.main-slider .main-slider-content .sub-title {
    position: relative;
    display: inline-block;
    margin-bottom: 34px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(-80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(-80px);
    transform: perspective(400px) rotateY(0deg) translateY(-80px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider-content .sub-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    height: 8px;
    background-color: var(--thm-base);
    z-index: -1;
}

.main-slider .swiper-slide-active .main-slider-content .sub-title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
}

.main-slider .main-slider-content .sub-title h3 {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.1em;
    font-weight: 500;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}



.main-slider .main-slider-content .big-title {
    position: relative;
    display: block;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(-80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(-80px);
    transform: perspective(400px) rotateY(0deg) translateY(-80px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider-content .big-title {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.main-slider .main-slider-content .big-title h2 {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.2em;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: capitalize;
}


.main-slider .main-slider-content .text {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 19px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(80px);
    transform: perspective(400px) rotateY(0deg) translateX(80px);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider-content .text {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateX(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateX(0px);
    transform: perspective(400px) rotateY(0deg) translateX(0px);
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
    -o-transition-delay: 1000ms;
    transition-delay: 1000ms;
}

.main-slider .main-slider-content .text p {
    color: #ffffff;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}



.main-slider .main-slider-content .btn-box {
    position: relative;
    display: block;
    line-height: 0;
    padding-top: 51px;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(80px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(80px);
    transform: perspective(400px) rotateY(0deg) translateY(80px);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 10;
}

.main-slider .swiper-slide-active .main-slider-content .btn-box {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(0deg) translateY(0px);
    -ms-transform: perspective(400px) rotateY(0deg) translateY(0px);
    transform: perspective(400px) rotateY(0deg) translateY(0px);
    -webkit-transition-delay: 1500ms;
    -moz-transition-delay: 1500ms;
    -ms-transition-delay: 1500ms;
    -o-transition-delay: 1500ms;
    transition-delay: 1500ms;
}

.main-slider .main-slider-content .btn-box a {
    margin: 0 10px;
    border-radius: 35px;
}

.main-slider .main-slider-content .btn-box a.left:after {
    background-color: var(--thm-primary);
}

.main-slider .main-slider-content .btn-box a.right:after {
    background-color: #0c828c;
}






.main-slider__nav {
    position: absolute;
    top: 0;
    right: 40px;
    bottom: 0px;
    transform: translateY(0%) translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.main-slider__nav .swiper-button-next,
.main-slider__nav .swiper-button-prev {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 10px 0;
    text-align: center;
    transition: all 500ms ease;
    z-index: 100;
}

.main-slider__nav .swiper-button-next:hover,
.main-slider__nav .swiper-button-prev:hover {
    color: #ffffff;
    background-color: var(--thm-base);
}

.main-slider__nav .swiper-button-next::after,
.main-slider__nav .swiper-button-prev::after {
    display: none;
}

.main-slider__nav .swiper-button-prev {
    transform: rotate(0deg);
}

.main-slider__nav .swiper-button-prev .angle-left {
    position: relative;
    transform: rotate(0deg);
}






/*** End Css  **/