/*** 
=============================================
    Partner Area Css
=============================================
***/
.partner-area {
    position: relative;
    display: block;
    background-color: #ffffff;
    padding-bottom: 150px;
    z-index: 10;
}

.partner-area--style2 {
    padding: 120px 0 120px;
}

.brand-content {
    position: relative;
    display: block;
}

.single-partner-logo-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    z-index: 1;
}

.single-partner-logo-box a {
    position: relative;
    display: inline-block;
}

.single-partner-logo-box a img {
    opacity: 1.0;
    width: auto;
    transition: all 0.2s ease-in-out 0.1s;
}

.single-partner-logo-box:hover a img {
    opacity: 0.7;
    transition: all 0.8s ease-in-out 0.1s;
}

.partner-carousel.owl-carousel.owl-dot-style1 .owl-dots {
    display: none;
}




/*** 
=============================================
    Brand Style2 Css
=============================================
***/
.brand-style2 {
    position: relative;
    display: block;
    background: #F5F5F5;
    padding: 150px 0 120px;
    overflow: hidden;
    z-index: 10;
}

.brand-style2__shape1 {
    position: absolute;
    top: -48px;
    left: 0;
}

.brand-style2__shape2 {
    position: absolute;
    left: 0;
    bottom: -35px;
}

.brand-style2__content {
    position: relative;
    display: block;
    margin-top: 55px;
}

.brand-style2__content .sec-title {
    padding-bottom: 18px;
}

.brand-style2__content .text {
    position: relative;
    display: block;
    padding-right: 115px;
}

.brand-style2__content .text p {
    margin: 0;
}

.brand-style2__logo {
    position: relative;
    display: block;
}

.brand-style2__logo .single-partner-logo-box {
    position: relative;
    display: block;
    margin-bottom: 30px;
    border: none;
}