/*** 
=============================================
    Footer area style
=============================================
***/
.bottom-parallax {
    position: relative;
    height: 860px;
    opacity: 0;
    z-index: -999;
}

.bottom-parallax .footer-area {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 860px;
}

.parallax-visible .bottom-parallax {
    opacity: 1;
    z-index: 1;
}




/*** 
=============================================
    Footer Area Css
=============================================
***/
.footer-area {
    position: relative;
    display: block;
    background: #202020;
    z-index: 10;
}

.footer-area__shape1 {
    position: absolute;
    top: 0;
    right: 0;
}

.footer-top {
    position: relative;
    display: block;
    padding-top: 80px;
}

.footer-top__inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



.footer-logo {
    position: relative;
    display: block;
    max-width: 420px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 11px;
}

.footer-logo:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
}

.footer-logo-style1 {
    position: relative;
    display: block;
    max-width: 330px;
}

.footer-logo-style1 a {
    position: relative;
    display: inline-block;
}

.footer-logo-style1 p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 28px;
    margin: 20px 0 0;
}


.newsletter-style1 {
    position: relative;
    display: block;
    max-width: 770px;
    width: 100%;
}

.newsletter-style1 .inner-title {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.newsletter-style1 .inner-title h3 {
    color: #FFFFFF;
    font-size: 22px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: -0.01em;
}

.newsletter-style1__form {
    position: relative;
    display: block;
}

.newsletter-style1__form .form-group {
    position: relative;
    display: block;
    margin: 0;
    padding-right: 220px;
}

.newsletter-style1__form .form-group input[type="email"] {
    position: relative;
    display: block;
    width: 100%;
    height: 70px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    font-weight: 400;
    border: 0px solid rgba(255, 255, 255, 0.1);
    padding-left: 30px;
    padding-right: 30px;
}

.newsletter-style1__form button {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 70px;
    transition: all 300ms ease 100ms;
    padding: 0;
}

.newsletter-style1__form button i {
    color: #ffffff;
}

.newsletter-style1__form button:before {
    background-color: #000000;
}



.footer-main {
    position: relative;
    display: block;
    padding-top: 90px;
    padding-bottom: 30px;
}

.single-footer-widget .title {
    position: relative;
    display: block;
    margin-top: -1px;
}

.single-footer-widget .title h3 {
    color: #ffffff;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -0.01em;
    text-transform: capitalize;
}

.footer-main .single-widget {
    margin-bottom: 52px;
}


.single-footer-widget {
    position: relative;
    display: block;
}

.single-footer-widget.margin-left-minus {
    margin-left: -40px;
}

.single-footer-widget.margin-left-minus2 {
    margin-left: -20px;
}

.single-footer-widget.margin-left {
    margin-left: 50px;
}



.footer-widget-contact-info {
    position: relative;
    display: block;
    padding-top: 30px;
}

.footer-widget-contact-info p {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-widget-contact-info .phone-number {
    position: relative;
    display: block;
    padding: 23px 0 22px;
}

.footer-widget-contact-info .phone-number p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 0 9px;
}

.footer-widget-contact-info .phone-number h3 {
    position: relative;
    display: flex;
    align-items: center;
}

.footer-widget-contact-info .phone-number h3 span {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    color: var(--thm-base);
    font-size: 25px;
}

.footer-widget-contact-info .phone-number h3 a {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.footer-widget-contact-info .phone-number h3 a:hover {
    color: var(--thm-base);
}

.footer-widget-contact-info .mail-us {
    position: relative;
    display: block;
}

.footer-widget-contact-info .mail-us a {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.6);
}



.footer-widget-links {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 31px;
}

.footer-widget-links ul {
    position: relative;
    display: block;
    overflow: hidden;
}

.footer-widget-links ul li {
    position: relative;
    display: block;
    line-height: 26px;
    margin-bottom: 15px;
}

.footer-widget-links ul li:last-child {
    margin-bottom: 0;
}

.footer-widget-links ul li a {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    font-weight: 400;
    font-family: var(--thm-font);
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.footer-widget-links ul li a:hover {
    color: var(--thm-base);
    padding-left: 2px;
}



.footer-widget-tweets-box {
    position: relative;
    display: block;
    padding-top: 29px;
}

.single-tweets-box {
    position: relative;
    display: block;
    padding-left: 30px;
}

.single-tweets-box .icon {
    position: absolute;
    top: 2px;
    left: 0;
    color: var(--thm-primary);
    font-size: 18px;
}

.single-tweets-box .text {
    position: relative;
    display: block;
}

.single-tweets-box .text .top {
    position: relative;
    display: block;
    padding-bottom: 16px;
}

.single-tweets-box .text .top p {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.single-tweets-box .text .title {
    position: relative;
    display: block;
}

.single-tweets-box .text .title h5 {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.single-tweets-box .text .title h5 a {
    color: rgba(255, 255, 255, 0.6);
}

.single-tweets-box .text .title h5 a span {
    color: var(--thm-primary);
}

.single-tweets-box .text .bottom {
    position: relative;
    display: block;
    margin-top: 20px;
    padding-top: 23px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.single-tweets-box .text .bottom p {
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

.single-tweets-box .text .bottom p a {
    color: var(--thm-base);
}



.footer-bottom {
    position: relative;
    display: block;
}

.footer-bottom .bottom-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 39px 0px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}

.copyright-text {
    position: relative;
    display: block;
}

.copyright-text p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 24px;
}

.copyright-text p a {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
    transition: all 300ms ease 100ms;
}

.copyright-text p a:hover {
    color: #ffffff;
}




.footer-bottom-right {
    position: relative;
    display: block;
}

.footer-social-link {
    position: relative;
    display: block;
}

.footer-social-link ul {
    position: relative;
    display: block;
}

.footer-social-link ul li {
    position: relative;
    float: left;
    margin-right: 10px;
}

.footer-social-link ul li:last-child {
    margin-right: 0;
}

.footer-social-link ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: 1;
}

.footer-social-link ul li a:before {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: var(--thm-base);
    border-radius: 5px;
    content: "";
    opacity: 0;
    transform: scale(0.5);
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
    z-index: -1;
}

.footer-social-link ul li:hover a:before {
    opacity: 1.0;
    transform: scale(1.0);
}

.footer-social-link ul li:hover a {
    color: #ffffff;
}






/**  End Css  **/