/*** 
=============================================
    Main Contact Form Area Css
=============================================
***/
.main-contact-form-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 150px 0px 0;
    z-index: 10;
}


.contact-form {
    position: relative;
    display: block;
}

.contact-form form {
    position: relative;
    display: block;
}

.contact-form form .form-group {
    position: relative;
    display: block;
    padding-bottom: 30px;
}

.contact-form form .input-box {
    position: relative;
    display: block;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
    position: relative;
    display: block;
    background: #ffffff;
    border: 1px solid #D9D9D9;
    width: 100%;
    height: 75px;
    color: var(--thm-gray);
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    transition: all 500ms ease;
    font-family: var(--thm-font);
}

.contact-form form input[type="text"]:focus,
.contact-form form input[type="email"]:focus,
.contact-form form textarea:focus {
    border: 1px solid var(--thm-base);
    outline: none;
}

.contact-form form textarea {
    height: 206px;
    padding: 15px 30px 10px;
}

.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #515151;
}

.contact-form form input[type="text"]:-moz-placeholder {
    color: #515151;
}

.contact-form form input[type="text"]::-moz-placeholder {
    color: #515151;
}

.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #515151;
}


.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #515151;
}

.contact-form form input[type="email"]:-moz-placeholder {
    color: #515151;
}

.contact-form form input[type="email"]::-moz-placeholder {
    color: #515151;
}

.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #515151;
}


.contact-form form textarea::-webkit-input-placeholder {
    color: #515151;
}

.contact-form form textarea:-moz-placeholder {
    color: #515151;
}

.contact-form form textarea::-moz-placeholder {
    color: #515151;
}

.contact-form form textarea:-ms-input-placeholder {
    color: #515151;
}

.contact-form form .button-box {
    position: relative;
    display: block;
    line-height: 0;
    padding-top: 20px;
    text-align: right;
}





.contact-info-box-style1 {
    position: relative;
    display: block;
    padding-right: 50px;
}

.contact-info-box-style1 .title {
    position: relative;
    display: block;
    margin-top: -10px;
    margin-bottom: 27px;
}

.contact-info-box-style1 .title h2 {
    font-size: 42px;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contact-info-box-style1 .title p {
    margin: 0;
}


.contact-info-box-style1 .phone-number {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.contact-info-box-style1 .phone-number h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.contact-info-box-style1 .phone-number a {
    position: relative;
    display: flex;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    color: #0C828C;
    background: rgba(242, 181, 22, 0.06);
    border-radius: 10px;
    padding: 25px 0 26px;
    padding-left: 40px;
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.contact-info-box-style1 .phone-number a:hover {
    color: var(--thm-base);
}

.contact-info-box-style1 .phone-number a span {
    color: var(--thm-base);
    font-size: 30px;
    line-height: 30px;
    padding-right: 12px;
}

.contact-info-box-style1 .contact-info-1 {
    position: relative;
    display: block;
}

.contact-info-box-style1 .contact-info-1 li {
    position: relative;
    display: block;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 20px;
    padding-bottom: 20px;
}

.contact-info-box-style1 .contact-info-1 li+li {
    margin-top: 25px;
}


.contact-info-box-style1 .contact-info-1 li h4 {
    font-size: 18px;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 6px;
}

.contact-info-box-style1 .contact-info-1 li p {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.contact-info-box-style1 .contact-info-1 li p a:hover {
    color: var(--thm-base);
    transition: all 100ms linear;
    transition-delay: 0.1s;
}





/*** 
=============================================
    Google Map Style1 Css
=============================================
***/
.google-map-style1 {
    position: relative;
    display: block;
    background-color: #ffffff;
    padding: 150px 0 150px;
    z-index: 10;
}

.google-map-style1 .google-map__one {
    height: 500px;
    width: 100%;
    mix-blend-mode: luminosity;
}



/*** 
=============================================
    End Css
=============================================
***/